@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @theme inline {
}

@media (prefers-color-scheme: dark) {
  :root {
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  background-color: antiquewhite;
}

.menu{
  background-color: rgb(250, 235, 215);
  display: flex;
  justify-content: center;
  padding: 20px 0;
  border-radius: 10px;
  border-radius: 3px solid #33333333;
  /* border-bottom: #333333; */
}

.menu ul{
  list-style: none;
  display: flex;
  gap: 30px;
  margin: 0;
  padding: 0;
}

.menu li a{
  color: #333333;
  text-decoration: none;
  transition: color 0.3s ease;

}

.menu li a:hover{
  color: #007bff;
}

.breadcrumbs{
text-align: center;
font-size: 2rem;
font-weight: bold;
margin: 20px 0;
}
/* 
.breadcrumbs ol{
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-flex;
  gap: 10px;
}
.breadcrumbs a{
justify-content: center;
} */