@import "tailwindcss";

@theme {
  --color-primary: #FDFBF2;
  --color-secondary: #2D63ED;
  /*--color-tertiary: #2D63ED;
  --color-quaternary: #1f4ac0;*/

}

/* -----------------------------SELECCION DE FECHA (REACT-CALENDAR)--------------------------------------------- */
/* Estilo general */
.rdp {
  --rdp-cell-size: 45px;
  --rdp-accent-color: #2563eb;
  --rdp-background-color: #eff6ff;
  margin: 0;
}

.rdp-button:hover:not([disabled]):not(.rdp-day_selected) {
  background-color: var(--rdp-background-color);
  border-radius: 12px;
  color: #2563eb;
}

.rdp-day_selected {
  font-weight: bold;
}