version: "3.9"

services:
  backend:
    build:
      context: ./backend
    container_name: citas-backend
    ports:
      - "3001:3000"
    volumes:
      - ./backend:/app
    command: npm run dev
    environment:
      - NODE_ENV=development

  frontend:
    build:
      context: ./frontend/app-citas
    container_name: citas-frontend
    ports:
      - "3000:3000"
    volumes:
      - ./frontend/app-citas:/app
    command: npm run dev
    environment:
      - NODE_ENV=development
    depends_on:
      - backend
